src/
dts/
test/
docs/
scripts/
example/
node_modules/
package-lock.json
.vscode/
.eslintignore
.eslintrc
.prettierrc
.travis.yml
.gitignore
.npmignore
.tsconfig.json
.tsconfig.json
.api-extractor.json
.tsdoc-metadata.json